.wrapper{
    margin: 0;
    position: relative;
    padding: 30px;
    border-bottom: 1px dashed rgb(250 204 21);

    h1{
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 1rem;
        text-transform: capitalize;
        font-family: 'DM Serif Display', serif;
    }

}