.banner{
    padding: 50px 30px;
    font-size: 30px;
    color: aqua;
    position: relative;
    .container_color{
        background-color: #0e212b;
        padding: 30px;
    }
    .align-items-center{
        // text-align: center;
        .tagline{
            font-size: 30px;
            background: rgb(20, 14, 130);
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;
            padding: 5px;
            border-color: #7b2151;
            border-width: 3px;
        }
        .Intro{
            margin-top: 20px;
            .text{
                color: aqua;
            }
            p{
                color: #daaa18;
            }
            h1{
                font-size: 52px;
            }
            span{
                font-size: 45px;
            }
        }
    }
    .description{
        margin: 50px 0px;

        p{
            font-size: 20px;
            text-align: justify;
        }
    }

    @media (max-width: 600px) {
        .align-items-center{
            .Intro{
                margin-top: 40px;
                p{
                    color: #daaa18;
                }
                h1{
                    font-size: 30px;
                }
                span{
                    font-size: 25px;
                }
            }
        }
    }

    @media (max-width: 740px) {
        .align-items-center{
            .Intro{
                margin-top: 40px;
                p{
                    color: #daaa18;
                }
                h1{
                    font-size: 40px;
                }
                span{
                    font-size: 35px;
                }
            }
        }
    }

    
    @media (max-width: 992px) {
        .align-items-center{
            .tagline{
                font-size: 20px;
            }
            .Intro{
                margin-top: 40px;
                p{
                    color: #daaa18;
                }
                h1{
                    font-size: 40px;
                }
                span{
                    font-size: 35px;
                }
            }
        }
    }
}